<%= form_with model: [ @article, @article.comments.build] do |c| %>
    <p>
        <%= c.label :commenter %><br>
        <%= c.text_field :commenter %>
    </p>
    <p>
        <%= c.label :body %><br>
        <%= c.text_area :body %>
    </p>
    

    <div>
  <%= c.label :status %><br>
  <%= c.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>
<br>
<p>
        <%= c.submit %>
    </p>
<br>
<% end %>
